body {
  margin: 0;
	height: -webkit-fill-available;
}

html {
	font-family: "Inter";
	background-color: #171A21;
	height: -webkit-fill-available;
}

#root {
	display: flex;
	padding: 1rem 0rem;
	flex-direction: column;
	justify-content: space-between;
	height: -webkit-fill-available;
}

@font-face {
	font-family: "Inter";
	src: local("Inter"), url("./assets/fonts/Inter.ttf") format("truetype");
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}